#container
{
/*    position: absolute;
    top:30%;
    left:50%;

    width:50%;
    height:50%;

    margin-left: -512px;
    margin-top: -240px;

    padding: 0px;

    border-width: 1px;
    border-style: groove;;*/
    min-width: 700px;
}

/*#mainWindow
{*/
   /* position: absolute;
    top:50%;
    left:50%;
    */
/*    width:100%;
    height:100%;*/
    /*
    margin-left: -512px;
    margin-top: -360px;
    */
/*}*/

#toolbar
{
    position: relative;
    display: block;
    width: 80%;
    height: 20%;
    min-width: 850px;
    /*center align div*/
    margin: 0px auto;
    margin-bottom: 10px;

    background-color: #236dff;
    color: white;
}

#composeDialog, #showMail
{
    position: relative;
    /*display: block;*/
    width: 80%;
    display: none;
    /*center align div*/
    margin: 0px auto;
    margin-bottom: 10px;
}

#mailList
{
    position: relative;
    display: block;
    width: 80%;
    height: 20%;
    /*center align div*/
    margin: 0px auto;
    margin-bottom: 10px;
}

.fullScreen
{
    position: relative;
    display: block;
    min-width: 850px;
    width: 80%;
    /*center align div*/
    margin: 0px auto;
    margin-bottom: 10px;

    background-color: white;
}

#userDetails
{
    float:left;
}

table.input
{

    width:80%;
    height:400px;

    /*min-width:400px;*/

/*    margin-left:90px;
    margin-right:90px;
    margin-top:25px;*/

    /*center align div*/
    margin: 0px auto;

    border-color: orange;
    border-style: double;
    border-width: 5px;

    padding: 10px;
    background-color: #236dff;
}

input.input
{
    width:90%;
    max-width:600px;
    border-color: orange;
    border-style: inset;
}

textarea.input
{
    width:90%;
    height:90%;
    border-color: orange;
    border-style: inset;
    max-width: 600px;
    max-height: 400px;
}

table#list
{
    width:100%;
   /* min-width:400px;*/
/*    margin-left: 50px;
    margin-right: 50px;*/
    /*center align div*/
    margin: 0px auto;
    /*max-width: 300px;*/
}

table#list th, table#list td
{
    width:100px;
    height:20px;
    text-align: center;
    min-width: 200px;


}

table#list th
{
    background-color:  #236dff;
}

table#list td
{
    font-family: cursive;
    font-size: 14px;
    color:blue;
}

#headerContent
{
    text-align: left;
    margin-left: 35px;;
}

#subjectContent
{
    position:absolute;
    text-align: center;
    background-color: white;
    color:blue;
    width:70%;
    height: 20px;
    left:50%;
    margin-left: -35% ;
    padding: 5px;
    overflow: auto;
}

#bodyContent
{
    position:absolute;
    text-align: left;
    background-color: white;
    color:blue;
    width:70%;
    left:50%;
    margin-left: -35% ;
    height: 250px;
    /*top:51%; */
    /*margin-top: -150px;*/
    top: 180px;
    padding: 5px;
    overflow: auto;
}

.listField
{
    margin: auto;
    overflow: auto;

    text-align: center;
    max-width:200px;

}