.login
{
/*    margin-right: 80px;
    margin-left: 50px;*/
    text-align: left;
    /*center align div*/
    margin: 0px auto;
}
#loginButton
{
    width:60px;
    height: 60px;
}
#container
{
    position: relative;
/*    top: 50%;
    left: 50%;*/
    width: 400px;
    height: 320px;
    margin: 0px auto;
/*    margin-top: -200px;
    margin-left: -220px;
*/}

#loginBox, #registerBox
{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    /*center align div*/
    margin: 0px auto;
}

#goToLoginButton
{
    position: absolute;
    margin-left: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#registerButton
{
    margin-top: 20px;
    margin-bottom: 20px;
}

#loginForm
{
    margin-top: 50px;
}