body
{
    background-color: #50baff;
}

.clientArea
{
    color: white;
    font-family: cursive;
    text-align: center;
    padding: 0px;
}

.button
{
    background-color:white;
    border-color: orange;
    font-weight: bolder;
    font-family: cursive;
    border-style:outset;
    border-width: 3px;
}

.smallBox
{
    width: 410px;
    height: 300px;
}

.window
{
    display: block;
    position: relative;

    border-style:double;
    border-color:orange;
    border-width: 8px;

    background-color: #236dff;
    color: white;

    font-family: cursive;

    padding: 10px;

    text-align: center;
}

.frame
{
    border-style: ridge;
    border-color: orange;
    border-width: 3px;
    padding: 0px;
}

#errorMessage
{
    display: none;
    max-width: 900px;
    margin:auto;
    background-color: #50baff;
    margin-bottom: 10px;
}

.caption
{
    font-family: cursive;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}